{% block content %}

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
  </head>
  
  <h1>Lista de Visitantes</h1>

  <form class="form-date" method="get" action="">
    <div class="flex">
      <label for="fecha_inicio">Fecha:</label>
      <input type="date" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}" />
    </div>

    <button type="submit">Filtrar</button>
  </form>

  
  <table border="1">
    <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Departamento al que ingreso</th>
          <th>Motivo de Visita</th>
          <th>Fecha de Ingreso</th>
          <th>Fecha de Salida</th>
        </tr>
    </thead>
      
    <tbody>
      {% for visitante in visitantes %}
        <tr>
          <td><img class="foto-consulta imagen-modal" src="/media-files/{{visitante.imagen}}" alt=""></td>
          <td>{{visitante.nombres}} {{visitante.apellidos}}</td>
          <td>{{visitante.departamento_destino}}</td>
          <td>{{visitante.motivo_visita}}</td>
          <td>{{visitante.fecha_entrada}}</td>
          <td>{{ visitante.fecha_salida }}</td>
        </tr>
      {% endfor %}
  </table>

  <div class="navbar">
    <a href="{% url 'index' %}">Entradas</a>
    <a href="{% url 'salida' %}">Activos</a>
  </div>

  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
