<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entrada</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    
    <div class="navbar">
        <a href="{% url 'salida' %}">Activos</a>
        <a href="{% url 'consulta' %}">Consulta</a>
    </div>

    <h1>Registro de Entrada</h1>

    <form method="post" action="{% url 'registrar_entrada' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="nombres">
            <div class="flex nombre">
                <label for="nombres">Nombres:</label>
                <textarea id="nombres" name="nombres" required></textarea>
            </div>
            
            <div class="flex apellido_p">
                <label for="apellido_paterno">Apellido Paterno:</label>
                <textarea id="apellido_paterno" name="apellido_paterno" required></textarea>
            </div>

            <div class="flex apellido_m">
                <label for="apellido_materno">Apellido Materno:</label>
                <textarea id="apellido_materno" name="apellido_materno" required></textarea>
            </div>
        </div>

        <div class="div-central">
            <div class="flex motivos">
                <label for="motivo">Motivo de Visita:</label>
                <textarea id="motivo" name="motivo" required></textarea>
            </div>

            {% comment %} <div class="flex foto">
                <label for="foto">Foto:</label>
                <button id="openCamera" type="button">Abrir camara</button>
                <button id="takePhoto" type="button">Tomar foto</button>
                <video id="webcam" width="640" height="480"  autoplay></video>
                <canvas id="canvas" width="640" height="480"></canvas>
            </div> {% endcomment %}

            <div class="flex foto">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" required>
                <img class="webcam" id="preview" src="" alt="Image preview" style="display: none">
            </div>

            
        </div>
        

        <div class="div-inferior">
            <div class="flex">
                <label for="departamento">Departamento:</label>
                <select id="departamento" name="departamento" required>
                    <option value="Juridico">Juridico</option>
                    <option value="Visitante">Visitante</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Secretaria">Secretaria</option>
                    <!-- Agrega más opciones-->
                </select>
            </div>

            <div class="flex">
                <label for="folio_gafete">Folio de Gafete:</label>
                <input type="number" id="folio_gafete" name="folio_gafete" min="0" required>
            </div>
        </div>
        
        <div class="btn">
            <button type="submit">Registrar Entrada</button>
        </div>
        
    </form>



    {% comment %} <script src="{% static 'js/camara.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/previsualizar.js' %}"></script>

</body>
</html>
