<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de visitantes</title>

        <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    </head>


    <body>
        <div class="navbar">
            <a href="{% url 'registrar_entrada' %}">Marcar entrada</a>
        </div>

        <h1>Registro de visitantes</h1>

        {% if visitantes_activos %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Departamento destino</th>
                        <th>Motivo de visita</th>
                        <th>Folio gafete</th>
                        <th>Hora de entrada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitante in visitantes_activos %}
                        <tr>
                            <td>{{visitante.nombres}} {{visitante.apellidos}}</td>
                            <td>{{visitante.departamento_destino}}</td>
                            <td>{{visitante.motivo_visita}}</td>
                            <td>{{visitante.folio_gafete}}</td>
                            <td>{{visitante.fecha_entrada}}</td>
                            <td>
                                {% if not visitante.fecha_salida %}
                                    <form method="post" action="{% url "marcar_salida" visitante.id %}">
                                        {% csrf_token %}
                                        <button class="btn-salida" type="submit">Marcar salida</button>
                                        {% comment %} <button>Mostrar</button> {% endcomment %}
                                    </form>
                                {% else %}
                                    <p>Visitante ya marcó salida</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        {% endif %}

    </body>
</html>