<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entrada</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h1>Registro de Entrada</h1>

<form method="post" action="{% url 'registrar_entrada' %}">
    {% csrf_token %}

    <label for="nombres">Nombres:</label>
    <textarea id="nombres" name="nombres" required></textarea><br>

    <label for="apellido_paterno">Apellido Paterno:</label>
    <textarea id="apellido_paterno" name="apellido_paterno" required></textarea><br>

    <label for="apellido_materno">Apellido Materno:</label>
    <textarea id="apellido_materno" name="apellido_materno" required></textarea><br>

    <label for="departamento">Departamento:</label>
    <select id="departamento" name="departamento" required>
        <option value="Juridico">Juridico</option>
        <option value="Visitante">Visitante</option>
        <option value="Recursos Humanos">Recursos Humanos</option>
        <option value="Secretaria">Secretaria</option>
        <!-- Agrega más opciones-->
    </select><br>

    <label for="motivo">Motivo de Visita:</label>
    <textarea id="motivo" name="motivo" required></textarea><br>

    <label for="folio_gafete">Folio de Gafete:</label>
    <input type="number" id="folio_gafete" name="folio_gafete" required><br>

    <label for="foto">Foto:</label>
    <input type="file" accept="image/*" capture="camera" id="foto" name="foto" onchange="previsualizarFoto(this)"><br>
    <img id="previsualizacion" src="#" alt="Previsualización de la Foto" style="display:none; max-width:200px; max-height:200px;"><br>

    <button type="submit">Registrar Entrada</button>
</form>

<script>
    function previsualizarFoto(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#previsualizacion').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(input.files[0]);
    }
</script>

</body>
</html>
